<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Weiliang Chen. It uses data from mapbox and weather stack.</p>
        <img class="portrait" src="/image/robot.png">
    </div>
    
    {{>footer}}
</body>


</html>